<!DOCTYPE html>
<html>
<<head>
  <meta charset="utf-8">
  <<title>
about PAGE




  </title>
</head>
<<body>
  {{> header}}
  <p>
    some text
    {{screamit welcomemsg}}
    </p>
{{> footer}}
</body>

</html>
